<ion-header>
  <ion-navbar>
    <ion-title>{{speaker?.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="speaker-detail">
  <div text-center *ngIf="speaker">
    <img [src]="speaker.profilePic" [alt]="speaker.name"><br>

    <button *ngIf="speaker.twitter" ion-button icon-only clear small color="twitter" (click)="goToSpeakerTwitter(speaker)">
      <ion-icon name="logo-twitter"></ion-icon>
      <span>{{speaker?.twitter}}</span>
    </button>
  </div>

  <p>{{speaker?.about}}</p>
</ion-content>
